.card{
    background-color: #714EE0;
    color: #fff;
    font-weight: 600;
    width: 350px;
    height: 180px;
    font-size: 30px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}
.bold{
    font-weight: bolder;
}
.column{
    flex-direction: column;
}
.jcenter{
    justify-content: center;
}